
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
}


.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
